<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583555396936-mp9uktbc8db42md1hj1bv6vdktgmme1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583555396936-mp9uktbc8db42md1hj1bv6vdktgmme1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCvfMhzesGA9o5BCyNWrwFP1jHfi1pVMBw</string>
	<key>GCM_SENDER_ID</key>
	<string>583555396936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kindergarten1</string>
	<key>PROJECT_ID</key>
	<string>kindergarten-5cdbe</string>
	<key>STORAGE_BUCKET</key>
	<string>kindergarten-5cdbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583555396936:ios:9537bbdddc0c9372cc6f7d</string>
</dict>
</plist>